VITE_KEYCLOAK_URL=AUTH_SERVER_URL
VITE_KEYCLOAK_REALM=REALM
VITE_KEYCLOAK_CLIENT_ID=CLIENT_ID
VITE_KEYCLOAK_LOGOUT_URL=AUTH_SERVER_LOGOUT_URL
VITE_SSO_CLIENT_ID=
VITE_SSO_CLIENT_SECRET=
VITE_SSO_TOKEN_URL=