VITE_KEYCLOAK_URL=https://dev.loginproxy.gov.bc.ca/auth
VITE_KEYCLOAK_REALM=standard
VITE_KEYCLOAK_CLIENT_ID=example-client-id
VITE_KEYCLOAK_LOGOUT_URL=https://dev.loginproxy.gov.bc.ca/auth/realms/standard/protocol/openid-connect/logout
VITE_BACKEND_API_URL=localhost:4144
VITE_ALLOWED_HOSTS=localhost:5173,localhost:4173